@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Sans", sans-serif;
}

/* button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  appearance: none;
} */
